<!doctype html>
<html ng-app>
    <head>
        <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    </head>
    <body>
        Your name: <input type="text" ng-model="yourname" placeholder="World">
        <hr>
        Hello {{yourname || 'World'}}!
		
		<p>Nothing here {{1+2}}</p>
		<ul ng-controller="PhoneListCtrl">
			<li ng-repeat="phone in phones | filter:key | orderBy:'age'">
			{{phone.name}}
			</li>
		</ul>
		<table><tr>
		<td ng-repeat="i in [1,2,3,4,5]">{{i}}</td>
		</tr></table>
		<input type='text' id='search' ng-model="key">
		Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>
    </body>
</html>
<script>
 function PhoneListCtrl($scope)
 {
	$scope.phones=[
	{"name":"Kyle0","no":1212121215,"age":17},
	{"name":"Kyle1","no":1212121219,"age":18},
	{"name":"Kyle4","no":121212121,"age":15},
	{"name":"Kyle3","no":121212121,"age":14},
	{"name":"Kyle2","no":1212121216,"age":12}
	];
 }

</script>