<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
	<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
	<meta name="author" content="limusic">
	<title>
		{{page.title}}
	</title>
	<link href="../dist/css/bootstrap.css" rel="stylesheet">
	<link href="../assets/css/src/docs.css" rel="stylesheet">
	<link href="../assets/css/src/pygments-manni.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../assets/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="icon" href="/favicon.ico">
</head>
<body>
	<div class="bs-docs-header" id="content">
	      <div class="container">
	        <h1>{{ page.title }}</h1>
	        <p>{{ page.lead }}</p>
	        
	      </div>
	    </div>
	    

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-{% if page.fullwidth == true %}12{% else %}9{% endif %}" role="main">
          {{ content }}
        </div>
        {% unless page.fullwidth == true %}
        <div class="col-md-3" role="complementary">
          <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
            <ul class="nav bs-docs-sidenav">
              {% if page.slug == "getting-started" %}
                {% include nav/getting-started.html %}
              {% elsif page.slug == "css" %}
                {% include nav/css.html %}
              {% elsif page.slug == "components" %}
                {% include nav/components.html %}
              {% elsif page.slug == "js" %}
                {% include nav/javascript.html %}
              {% elsif page.slug == "customize" %}
                {% include nav/customize.html %}
              {% elsif page.slug == "about" %}
                {% include nav/about.html %}
              {% elsif page.slug == "migration" %}
                {% include nav/migration.html %}
              {% endif %}
            </ul>
            <a class="back-to-top" href="#top">
              Back to top
            </a>
            {% if page.slug == "css" or page.slug == "components" or page.slug == "js" %}
            <a href="#" class="bs-docs-theme-toggle" role="button">
              Preview theme
            </a>
            {% endif %}
          </nav>
        </div>
        {% endunless %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
